apiVersion: apps/v1
kind: Deployment
metadata:
  name: na-schedule-allocator-backend
  labels: 
    app: na-schedule-allocator-backend
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: na-schedule-allocator-backend
  
  template:
    metadata:
      labels:
        app: na-schedule-allocator-backend
    spec:
      imagePullSecrets:
        - name: harbor-cred
      containers:
        - name: na-schedule-allocator-backend
          image: registry.kube.slc.net/slc/na-schedule-allocator-backend:latest
          env:
            - name: DB_APP
              valueFrom: { configMapKeyRef: { name: na-allocator-backend-config, key: DB_APP } }
            - name: DB_HOST
              valueFrom: { configMapKeyRef: { name: na-allocator-backend-config, key: DB_HOST } }
            - name: DB_PORT
              valueFrom: { configMapKeyRef: { name: na-allocator-backend-config, key: DB_PORT } }
            - name: DB_NAME
              valueFrom: { configMapKeyRef: { name: na-allocator-backend-config, key: DB_NAME } }
            - name: DB_USER
              valueFrom: { secretKeyRef: { name: griffon-db-login-secret, key: DB_USER } }
            - name: DB_PASSWORD
              valueFrom: { secretKeyRef: { name: griffon-db-login-secret, key: DB_PASSWORD } }
            - name: HOST
              valueFrom: { configMapKeyRef: { name: na-allocator-backend-config, key: HOST } }
            - name: PORT
              valueFrom: { configMapKeyRef: { name: na-allocator-backend-config, key: PORT } }
            - name: DATABASE_URL
              value: "$(DB_APP)://$(DB_USER):$(DB_PASSWORD)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)"

          command: ["/bin/sh", "-c"]
          args:
            - |
              set -e
              
              echo $DATABASE_URL

              npx prisma migrate deploy

              npm start
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          
---
apiVersion: v1
kind: Service
metadata: 
  name: na-schedule-allocator-backend-service
spec:
  selector:
    app: na-schedule-allocator-backend
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000